$color-grey: rgba(178, 178, 178, 1);
$color-light-grey: rgba(221, 221, 221, 1);
$color-dark-grey: rgb(51, 51, 51);
$color-black: rgba(32, 32, 32, 1);
$color-red: rgba(255, 80, 80, 1);
$color-dark-red: rgb(219, 32, 32);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.calculator {
    background-color: $color-black;
    padding: 15px;
    padding-top: 80px;
    padding-bottom: 40px;
    width: 415px;
    border-radius: 16px;
    box-shadow: 18px 18px 45px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__display {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 75%;
    }

    &__input-line {
        color: $color-grey;
        font-size: 1.5rem;
    }

    &__result {
        color: $color-light-grey;
        font-size: 3rem;
        font-weight: 500;
    }

    &__divide-line {
        width: 75%;
        border: 1px solid rgba(113, 113, 113, 1);
        margin: 16px 0 16px 0;
    }
}

button {
    color: $color-grey;
    font-size: 1.5rem;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.number-pad {
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 64px 64px 64px 64px 64px;

    &__clear-all,
    &__delete,
    &__plus-minus,
    &__operator,
    &__operand {
        transition: background-color 0.5s ease;

        &:active {
            background-color: $color-dark-grey;
        }
    }

    &__operator {
        color: $color-red;
    }

    &__equal {
        position: relative;
        color: #ffffff;

        &:active {
            .number-pad__equal-red-circle {
                background-color: $color-dark-red;
            }
        }
    }

    &__equal-red-circle {
        background-color: $color-red;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        transition: background-color 0.5s ease;
    }
}

@media (max-width: 430px) {
    .calculator {
        width: 100vw;
        height: 100vh;
        padding: 0;
        justify-content: center;
    }
}